[submodule "src/DAX-Creator"]
	path = src/DAX-Creator
	url = https://github.com/Johnnynator/DAX-Creator
[submodule "src/ciso-maker"]
	path = src/ciso-maker
	url = https://github.com/laffer1/ciso-maker
